@import '../../../index.scss';

.achived-course-empty {
  padding: 64px 0 48px 0;
  text-align: center;
  font-size: 1.1rem;
}

.text1 {
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.2;
}

.text2 {
  span {
    text-decoration: underline;
    font-weight: bold;
    color: $purple-color;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }
}
