@import '../../../index.scss';

.ccm {
  padding: 20px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    input,
    select {
      margin: 10px 0px;
      padding: 10px;
      border: 1px solid #000;
      width: 550px;
      font-size: 1.1rem;
    }
    &-btn {
      color: #fff;
      font-weight: bold;
      background-color: #2d2f31;
      width: fit-content;
      padding: 10px;
      cursor: pointer;
      align-self: flex-end;
      margin-top: 20px;
      &:hover {
        background-color: darken(#2d2f31, 10%);
      }
    }
    &-close {
      font-size: 1.4rem;
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #2d2f31;
        color: #fff;
      }
    }
  }
}
