.popover {
  position: absolute;
  background-color: white;
  border: 0.8px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  // padding: 10px;
  z-index: 100000;
  // display: none;
  // width: fit-content;
}

.popover-wrapper {
  position: relative;
  // width: fit-content;
}

.popover-content {
  width: 100%;
}
