.learning {
  &-schedule {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    &-content {
      span {
        cursor: pointer;
        padding: 10px 12px;
        font-weight: bold;
      }
      p {
        font-size: 0.9rem;
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }
    &-begin {
      color: #fff;
      background-color: #2d2f31;
    }
  }

  &-list {
    display: flex;
    gap: 20px;
  }
}
