@import '../../../index.scss';

.course-viewing-body {
  margin: 0 600px 30px 160px;
  padding-top: 32px;
  h2,
  p {
    margin-bottom: 10px;
  }
}

.course-viewing-body-section {
  &-list {
    border: 0.8px solid #ccc;
  }
  &-item {
    padding: 16px 24px 8px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.8px solid #ccc;
    text-align: center;
    height: fit-content;
    cursor: pointer;
    p {
      b {
        font-size: 18px;
      }
      svg {
        margin-right: 10px;
      }
    }
  }
}

.course-viewing-body-lecture {
  &-list {
    padding: 16px 24px 8px 24px;
    border-bottom: 0.8px solid #ccc;
  }
  &-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
}
